.searchbar {
    background-color: black;
    width: 11%;
    height: fit-content;
    position: fixed;
    margin-top: 10em;
}

.searchbar ul {
    margin-top: 1em;
    padding: 0;
    list-style: none;
}

.searchbar ul li {
    position: relative;
    margin: 1em;
}

.searchbar ul li a {
    font-size: 1em;
    display: inline-block;
    text-decoration: none;
    background-color: gray;
    padding: 5px 10px;
    border: 1px solid #ccc;
    margin-right: -5px;
}

.logo {
    position: fixed;
    width: 11%;
    height: 22%;
}

.title {
    background-color: gainsboro;
    margin-left: 35%;
    margin-right: 25%; 
    border: 3px solid #000000;
    text-align: center;
}

.title h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3.5em;
    color: black;
}

.sobre {
    background-color: gainsboro;
    margin-left: 20%;
    margin-right: 10%; 
    margin-top: 8%;
    border: 2px solid #000000;
    height: 800px;
}

.sobre h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2.5em;
    color: black;
    text-align: center;
}

.sobre p {
    width: 35%;
    padding-left: 5%;
    height: 80%;
    float: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5em;
}

.sobre img {
    background-color: cyan;
    margin-top: 5%;
    margin-left: 15%;
    width: 35%;
    height: 35%;
    border: 1px solid #000000; 
}

.componentes {
    background-color: gainsboro;
    margin-left: 20%;
    margin-right: 10%; 
    margin-top: 8%;
    border: 2px solid #000000;
    height: 1400px;
}

.componentes h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2.5em;
    color: black;
    text-align: center;
}

.componentes .impar_p {
    width: 45%;
    padding-left: 5%;
    height: 20%;
    border: 1px solid #000000;
    background-color: orange;
    float: left;
    margin-left: 5%;
}

.componentes .impar_img {
    margin-top: 2%;
    margin-left: 5%;
    width: 35%;
    height: 20%;
    border: 1px solid #000000;
    float: left;
    background-color: orangered;
}

.componentes .pair_p {
    width: 45%;
    padding-left: 5%;
    height: 20%;
    border: 1px solid aquamarine;
    float: left;
    background-color: blueviolet;
    margin-left: 5%;
    margin-bottom: 0px;
}

.componentes .pair_img {
    margin-top: 2%;
    margin-left: 5%;
    width: 35%;
    height: 20%;
    border: 1px solid aquamarine;
    background-color: blue;
    float: left;
}

.equipe {
    background-color: gainsboro;
    margin-left: 20%;
    margin-right: 10%; 
    margin-top: 8%;
    border: 2px solid #000000;
    height: 750px;
    height: fit-content;
}

.equipe h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2.5em;
    color: black;
    text-align: center;
}

.equipe .time {
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
}

.equipe .time p {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 2em;
}

.contats {
    background-color: black;
    width: 100%;
    margin-top: 10%;
    height: fit-content;
    overflow: hidden;
}

.contats ul {
    display: inline-block;
    height: fit-content;
    width: 100%;
    margin-left: 2%;
    margin-top: 1%;
    margin-bottom: -1%;
}

.contats ul .whatz p {
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 5%;
    margin-bottom: 5%;
    color: white;
    float: left;
    height: 50px;
    text-align: center;
    padding-top: 1.5%;
    margin-left: 1%;
}

.contats ul .whatz img {
    margin-top: 5%;
    margin-bottom: 5%;
    float: left;
    height: 50px;
    width: 50px;
    margin-left: 150px;
}

.contats ul .insta p {
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 5%;
    margin-bottom: 5%;
    color: white;
    float: left;
    height: 50px;
    text-align: center;
    padding-top: 1.5%;
    margin-left: 1%;
}

.contats ul .insta img {
    margin-top: 5%;
    margin-bottom: 5%;
    float: left;
    height: 50px;
    width: 50px;
    margin-left: 150px;
}

.contats ul .face p {
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 5%;
    margin-bottom: 5%;
    color: white;
    float: left;
    height: 50px;
    text-align: center;
    padding-top: 1.5%;
    margin-left: 1%;
}

.contats ul .face img {
    margin-top: 5%;
    margin-bottom: 5%;
    float: left;
    height: 50px;
    width: 50px;
    margin-left: 150px;
}