.searchbar {
    background-color: black;
    width: 11%;
    height: fit-content;
    position: fixed;
    margin-top: 10em;
}

.searchbar ul {
    margin-top: 1em;
    padding: 0;
    list-style: none;
}

.searchbar ul li {
    position: relative;
    margin: 1em;
}

.searchbar ul li a {
    font-size: 1em;
    display: inline-block;
    text-decoration: none;
    background-color: gray;
    padding: 5px 10px;
    border: 1px solid #ccc;
    margin-right: -5px;
}

.logo {
    position: fixed;
    width: 10.75%;
    height: 22%;

    border: 2px solid #000000;
}

.title {
    background-color: gainsboro;
    margin-left: 35%;
    margin-right: 25%; 
    border: 3px solid #000000;
    text-align: center;
}

.title h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3.5em;
    color: black;
}

.sobre {
    background-color: gainsboro;
    margin-left: 15%;
    margin-right: 5%; 
    margin-top: 8%;
    border: 2px solid #000000;
    height: 800px;
}

.sobre h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2.5em;
    color: black;
    text-align: center;
}

.sobre p {
    width: 35%;
    padding-left: 5%;
    height: 80%;
    float: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5em;
}

.sobre img {
    margin-top: 5%;
    margin-left: 16%;
    width: 32%;
    height: 35%;
    border: 1px solid #000000; 
}

.sobre .img2 {
    margin-top: 5%;
    margin-left: 16%;
    width: 32%;
    height: 28%;
    border: 1px solid #000000; 
}

.componentes {
    background-color: gainsboro;
    margin-left: 15%;
    margin-right: 5%; 
    margin-top: 8%;
    border: 2px solid #000000;
    height: 1750px;
}

.componentes h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2.5em;
    color: black;
    text-align: center;
}

.componentes .impar_p {
    width: 50%;
    height: 290px;
    border: 1px solid #000000;
    float: left;
    margin-left: 5%;

    font-size: 1.2em;
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    text-justify: inter-word;
    text-indent: 30px;
}

.componentes .impar_img {
    margin-top: 2%;
    margin-left: 5%;
    width: 35%;
    height: 290px;
    border: 1px solid #000000;
    float: left;
}

.componentes .pair_p {
    width: 50%;
    height: 290px;
    border: 1px solid black;
    float: left;
    margin-left: 5%;
    margin-bottom: 0px;

    font-size: 1.2em;
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    text-justify: inter-word;
    text-indent: 30px;
}

.componentes .pair_img {
    margin-top: 2%;
    margin-left: 5%;
    width: 35%;
    height: 290px;
    border: 1px solid black;
    float: left;
}

.equipe {
    background-color: gainsboro;
    margin-left: 15%;
    margin-right: 5%; 
    margin-top: 8%;
    border: 2px solid #000000;
    height: 750px;
    height: fit-content;
}

.equipe h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2.5em;
    color: black;
    text-align: center;
}

.equipe .time {
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
}

.equipe .time p {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 2em;
}

.contats {
    background-color: black;
    width: 100%;
    margin-top: 10%;
    height: fit-content;
    overflow: hidden;
}

.contats ul {
    display: inline-block;
    height: fit-content;
    width: 100%;
    margin-left: 2%;
    margin-top: 1%;
    margin-bottom: -1%;
}

.contats ul .whatz p {
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 5%;
    margin-bottom: 5%;
    color: white;
    float: left;
    height: 50px;
    text-align: center;
    padding-top: 1.5%;
    margin-left: 1%;
}

.contats ul .whatz img {
    margin-top: 5%;
    margin-bottom: 5%;
    float: left;
    height: 50px;
    width: 50px;
    margin-left: 150px;
}

.contats ul .insta p {
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 5%;
    margin-bottom: 5%;
    color: white;
    float: left;
    height: 50px;
    text-align: center;
    padding-top: 1.5%;
    margin-left: 1%;
}

.contats ul .insta img {
    margin-top: 5%;
    margin-bottom: 5%;
    float: left;
    height: 50px;
    width: 50px;
    margin-left: 150px;
}

.contats ul .face p {
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 5%;
    margin-bottom: 5%;
    color: white;
    float: left;
    height: 50px;
    text-align: center;
    padding-top: 1.5%;
    margin-left: 1%;
}

.contats ul .face img {
    margin-top: 5%;
    margin-bottom: 5%;
    float: left;
    height: 50px;
    width: 50px;
    margin-left: 150px;
}

.imagem {    
    background-color: gainsboro;
    margin-left: 15%;
    margin-right: 5%; 
    margin-top: 8%;
    border: 2px solid #000000;
    height: 1200px;
}

.imagem h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2.5em;
    color: black;
    text-align: center;
}

.imagem img {
    margin-top: 5%;
    margin-left: 12%;
    width: 30%;
    height: 20%;
    border: 1px solid #000000; 
}

.arma {
    background-color: gainsboro;
    margin-left: 15%;
    margin-right: 5%; 
    margin-top: 8%;
    border: 2px solid #000000;
    height: 750px;
    height: fit-content;
}

.arma {
    background-color: gainsboro;
    margin-left: 15%;
    margin-right: 5%; 
    margin-top: 8%;
    border: 2px solid #000000;
    height: 1500px;
}

.arma h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2.5em;
    color: black;
    text-align: center;
}

.arma p {
    width: 35%;
    padding-left: 5%;
    height: 80%;
    float: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5em;
}

.arma .description {
    width: 32%;
    padding-left: 21%;
    height: 20px;
}

.arma img {
    margin-top: 5%;
    margin-left: 16%;
    width: 32%;
    height: 300px;
    border: 1px solid #000000; 
    float: left;
}

.video {
    background-color: gainsboro;
    margin-left: 15%;
    margin-right: 5%; 
    margin-top: 8%;
    border: 2px solid #000000;
    height: 1500px;
}

.video p {
    width: 100%;
    padding-left: 12%;
    height: 80%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5em;
}

.video .description {
    width: 100%;
    padding-left: 6%;
    height: 20px;
}

.video img {
    margin-top: 5%;
    margin-left: 6%;
    width: 75%;
    height: 300px;
    border: 1px solid #000000; 
}

.row {
    padding-left: 8.5%;
    width: 40%;
    float: left;
}